DATABASE_URL=p
REDIS_URL=redis://127.0.0.1:6379
JWT_SECRET=your-super-secret-jwt-key
NODE_ENV=development

# Tenacio API Configuration (for DigiLocker integration)
TENACIO_BASE_URL=https://api.tenacio.com
TENACIO_CLIENT_ID=your_client_id_here
TENACIO_API_KEY=your_api_key_here
TENACIO_WORKFLOW_ID=your_workflow_id_here
TENACIO_PAN_WORKFLOW_ID=your_pan_workflow_id_here
TENACIO_GST_WORKFLOW_ID=your_gst_workflow_id_here
TENACIO_BANK_WORKFLOW_ID=your_bank_workflow_id_here
TENACIO_AADHAAR_DOWNLOAD_WORKFLOW_ID=your_aadhaar_workflow_id_here

# DigiLocker Configuration
DIGILOCKER_REDIRECT_URL=https://your-app.com/digilocker/callback

AWS_REGION=xxxxxx
AWS_ACCESS_KEY_ID=xxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxx
AWS_S3_BUCKET=xxxxxxx-uat
BROKER_USERNAME=xxxx
BROKER_PASSWORD=guest
BROKER_IP=xxxxxx

RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxx
RAZORPAY_ACCOUNT_NUMBER=xxxxxxx
RAZORPAY_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxx
RAZORPAY_DEFAULT_BANK_MODE=NEFT
RAZORPAY_DEFAULT_PURPOSE=refund
RAZORPAY_ENABLE_WEBHOOK_VERIFICATION=true


# Gyftr Configuration
GYFTR_API_KEY=xxxxxxx

# Tenacio ITR Compliance
TENACIO_ITR_BASE_URL=https://testapi.tenacio.io
TENACIO_ITR_API_KEY=xxxxxxxxxx
TENACIO_ITR_WORKFLOW_ID=a01c908d-xxxxxx-4427-91c9-2fc0e952273e


